.container {
  margin: 30px;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #463f3a;
  color: #f4f3ee;
  padding: 10px;
  align-items: center;
  text-align: center;
  border-radius: 40px;
  margin: 0 30px;
  width: 20vw;
}

.prevMatchContainer {
  margin-left: 60px;
  margin-top: 40px;
}

.prevMatch {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.matchScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10vw;
}

.matchScreenContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #463f3a;
  border-radius: 50px;
  color: #f4f3ee;
}

.matchInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemonSprite:hover {
  scale: 1.2;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
}

.runaway {
  border-radius: 50px;
  max-width: 30%;
}

.match:hover {
  scale: 1.5;
}

.runaway:hover {
  scale: 1.2;
}
