.profileInfoContainer {
  display: flex;
  flex-direction: row;
  width: 30%;
}

.selectLabel {
  font-size: 20px;
}

.userSelect {
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  padding: 0 40px;
}

.userProfile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
