.navBar {
  list-style: none;
  display: flex;
  font-size: 25px;
  justify-content: end;
  gap: 50px;
  padding: 40px;
  background-color: #f4f3ee;
}

.link {
  text-decoration: none;
  color: #463f3a;
}

.logo {
  position: absolute;
  scale: 70%;
}
